.aboutBox{
    /* background-color: rgba(0, 0, 0, .5); */
    background-color: white;
    /*color:#0077B6;*/
    /* color: white; */
    color: black;
    width: 65vw;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    margin-top: 20vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: fit-content;
    margin-left: 16vw;
}
.aboutText{
    max-width: 700px;
}

.aboutSection{
    /*background-color: #0077B6;*/
    background-image: linear-gradient(#0039cb, #2962ff);
    min-height:100vh;
    width: 100%;
}
.aboutText p {
    line-height: 30px;
    text-indent: 3em;
}

#headshot{
    max-width: 200px;
    margin-top:30px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.5);
}
.aboutPicture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50% inherit;
}

@media screen and (max-width: 600px){
    .aboutText{
        margin:0;
        width:100%;
        padding: 10px 20px 10px 20px;
        border-radius: 10px;
    }
    .aboutBox{
        margin:0;
        width: 80vw;
        padding: 5px 5px 5px 5px;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        height: fit-content;
        margin-left: 8.5vw;
    }
    #headshot{
        margin:0;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;;
    }
    .aboutSection{
        padding-bottom: 20px;
    }
}
