button{
    border: 3px solid #ffffff;
    border-radius: 3px;
    padding: 8px 5px 8px 5px;
    transition: 0.5s;
    font-family: 'Arvo';
}
button:hover{
    cursor: pointer;
}

.nonScrolledBtn{
    background-color: transparent;
    color:white;
}
.nonScrolledBtn:hover{
    background-color: white;
    color:#0039cb;
}

.scrolledBtn{
    color: white;
    background-color: #0039cb;
}
.scrolledBtn:hover{
    color: #0039cb;
    background-color: white;
}

.darkButton{
    background-color: #0039cb;
    color: white;
    border-radius: 5px;
    border: 2px solid #0039cb;
    padding:10px;
    margin:20px;
}
.darkButton:hover{
    background-color: white;
    color: #0039cb;
    border:2px solid #0039cb;
}

.lightButton{
    background-color: transparent;
    color: #2962ff;
    border-radius: 5px;
    border: 2px solid #2962ff;
    padding:10px;
    margin:20px;
}
.lightButton:hover{
    background-color: #2962ff;
    color: #e0e0e0;
    border:2px solid #2962ff;
}
.download{
    padding-left: 20px;
    padding-right: 20px;
    border-color: white;
}
.download:hover{
    /* color: #0077b6; */
    /* color: #9A031E; */
    background-color: white;
    color: #2962ff;
}
