.button{
    border: 3px solid #5833ff;
    background-color: #957dff;
    border-radius: 3px;
    padding: 8px 5px 8px 5px;
    transition: 0.5s;
}
.button:hover{
    background-color: #5833ff;
}

a{
    color: white;
    text-decoration: none;
}