.contactModalText{
    margin-top: -20px;
    color: black;
    text-align: center;
}
.contactModalText ul li{
    color: black;
    display: list-item;
    list-style-type:none;
    line-height: 30px;
    margin-left: -15px;
}
.contactModalText h1{
    margin-left: 0px;
    margin-bottom: -10px;
}
.contactModalText Button{
    margin-left:0px;
}
#buttonNeedsSpace{
    margin-left: 20px;
}