video{
    height:100%;
    width:100%;
    --o-object-fit: cover;
    object-fit: cover;
    /* z-index: 0; */
}
.overVideo{
    z-index: 1;
    position: relative;
    height: 100vh;
    background-color: rgba(0, 57, 203,0);
}
.videoOverflow{
    overflow: hidden;
    z-index: 0;
}

.videoBackground{
    height:100vh;
    max-width: 100vw;
    object-fit: cover;
    overflow: hidden;
    position:absolute;
}
.heroText{
    text-align: center;
    background-color: rgba(0, 0, 0, .7);
    min-width:50vw;
    width: fit-content;
    margin-left:25vw;
    margin-right:25vw;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    margin-top: 30vh;
}
.heroContainer{
    /*background-color: #03045E;*/
    height: 93vh;
    width: 100%;
    padding-top: 1px;
    overflow: hidden;
}

#nameHeader{
    font-size: xxx-large;
}



@media screen and (max-width: 950px){
    .heroText{
        width:75vw;
        margin-left:10vw;
        margin-right:10vw;
    }
}

@media screen and (max-width: 600px){
    .heroText{
        width:85vw;
        margin-left:5vw;
        margin-right:3vw;
        padding: 10px 10px 10px 10px;
        border-radius: 10px;
        margin-top: 30vh;
    }
}