.container{
    background-color: #5833ff;
}
ul{
    width:100%;
    color: white;
    list-style-type: none;
    margin:0 0 0 0;
    padding:1em 0 1em 0;
}
li{
    display:inline;
    padding:0 0 0 1em;
}
#title{
    padding-left: 10%;
    padding-right: 3em;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 20px;
}
#contact{
    float: right;
    padding-right: 10%;
    margin-top: 3px;
}


/*Hides the hamburger button when the page is loaded normally*/
.hamburger{
    display: none;
}

/*Responsive stuff*/
@media screen and (max-width: 600px){
    .hamburger{
        display: inline-block;
        margin-left: 20%;
    }
    .nav-item{
        display:none;
    }
}
@media screen and (max-width: 600px){
    .nav#open{
        
    }
}