.bar{
    /*background-color: #5833ff;*/
    background-color: transparent;
    top:0;
    position: sticky;
    transition: 0.5s;

    /*Set a massivley high z-index so that the navbar never gets covered when using react-reveal or images down the page*/
    z-index: 100;

}
.bar.scrolled{
    /* background-color: #03045E; */
    background-color: #0039cb;
}
ul{
    width:100%;
    color: white;
    list-style-type: none;
    margin:0 0 0 0;
    padding:1em 0 1em 0;

}
li{
    display:inline;
    padding:0 0 0 1em;
    color: white;
}
#title{
    padding-left: 5%;
    padding-right: 5%;
    
    font-size: 20px;
}
#contact{
    float: right;
    padding-right: 5%;
    margin-top: 3px;
}
.mobileNavLinks li{
    display: list-item;
    text-align: center;
    padding-bottom: 10px;
}
.mobileNavLinks{
    width:100%;
    height:100vh;
    background-color:#0039cb;
    position:fixed;
}

.mobileNavLinks ul{
    margin-top:40%;
}
.navTitleText{
    background-color: transparent;
    border:none;
    font-size: 20px;
    font-variant: small-caps;
    font-weight: bold;
    font-family: 'Arvo';
}
.navTitleText:hover{
    background-color: transparent;
}

/*Hides the hamburger menu when the page is loaded normally*/

.mobileNav{
    display: none;
}

.mobileNavUl{
    background-color: transparent;
}
.mobileNavUlOpen{
    background-color: #0039cb;
    transition-duration:.5s;
    /* transition-delay: .2s; */
}

/*Responsive stuff*/
@media screen and (max-width: 600px){
    .mainNav{
        display:none;
    }
    .mobileNav{
        display: contents;
    }
    .mobileNav ul{
        display:inline-block;
    }
    .hamburger{
        float: right;
        margin-right: 5%;
    }
    .bar.scrolled{
        background-color: #0039cb;
    }
}