.projectsContainer {
    background-color: #e0e0e0;
    min-height: 100vh;
    width: 100%;
    padding-top: 1px;

    /* hides scrollbar during animation */
    overflow: hidden;
    color: black;
    text-align: center;
}

.projectsContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
}

@media screen and (max-width: 1300px) {
    .projectsGrid{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 800px) {
    .projectsGrid{
        grid-template-columns: 1fr;
    }
}