.projectsContainer{
    /*background-color: #B5FFE1;*/
    /* background-color: white; */
    /*background-image: linear-gradient(#0077b6,#03045E);*/
    /* background-color: #0077b6; */
    /* background-color: white; */
    /* background-color: #03045E; */
    /* background-color: #202020; */
    /* background-color: #10003D; */
    background-color: #e0e0e0;
    min-height: 100vh;
    width: 100%;
    padding-top: 1px;

    /* hides scrollbar during animation */
    overflow: hidden;
}
.projectsContent{
    /* color: white; */
    color: black;
    text-align: center;
}
.projectsFlexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* projects item is no longer used. see item.css */
.projectsItem{
    align-self: center;
    /*background-color: #0077b6;*/
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    max-width: 350px;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    color: white;
}

.projectsModalContent{
    color:black;
    text-align: center;
    max-width: 300px;
}
.projectsModalContent p{
    max-width: 300px;
    line-height: 30px;
}

.cardFlexbox{
    margin-left:10vw;
    margin-right:10vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.projectBlocks{
    width: 80vw;
    margin-left: 10vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 40px;
}

.softwareProjects{
    width: 80vw;
    margin-left: 10vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px;
    margin-top: 40px;
}

@media screen and(max-width:600px) {
    .projectsModalContent iframe{
        width: 10px;
    }
}