.sectionHeader{
    text-align: center;
}
.resumeContainer{
    padding-top:1px;
    min-height: 100vh;
    height: fit-content;
    width: 100%;
    /*background-color: #0077B6;*/
    /* background-image: linear-gradient(#0077b6,#9B7F82); */
    /* background-image: linear-gradient(#0077b6,#D7263D); */
    /* background-color: #AA8CFD; */
    /* background-color: white; */
    /* background-color: #9A031E; */
    background-color: #2962ff;
    text-align: center;
    color: white;

    /* hides scrollbar during animation */
    overflow: hidden;
}
a{
    text-decoration: none;
    color:inherit;
}
.resumeContentFlexbox{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.workExperience{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #e0e0e0;
    color: black;
    min-height: 100vh;
}
.skillsAndTech{
    min-height: 100vh;
}