.sectionHeader{
    text-align: center;
}
.resumeContainer{
    padding-top:1px;
    height: 100vh;
    width: 100%;
    /*background-color: #0077B6;*/
    background-image: linear-gradient(#0077b6,#03045E);
}