body{
    font-family: 'Arvo';
    /* background-color: #0039cb; */
    background-color: white;
    color: #ffffff;
    overflow-x: hidden;
}

.content{
    padding: 0 10% 0 10%;
}

#modalText{
    color:black;
}

.loading{
    text-align: center;
    margin-top: 40vh;
    color:#0039cb;
}


.background{
    background-image: url('./photos/thumbnail.webp');
}

/* On Screen Arrows: */
.arrows{
    position: fixed;
    top: 80vh; 
    right: 3vw; 
    z-index: 5001;
}


/* .background video{
    height:100vh;
    max-width: 100vw;
} */

/* .mainContent{
    z-index: 0;
} */