body{
    font-family: 'Arvo';
    background-color: #0039cb;
    color: #ffffff;
}

.content{
    padding: 0 10% 0 10%;
}

#modalText{
    color:black;
}

.loading{
    text-align: center;
    margin-top: 40vh;
}


/* .background{
    background-image: url('./photos/siteBackground.png');
} */


/* .background video{
    height:100vh;
    max-width: 100vw;
} */

/* .mainContent{
    z-index: 0;
} */