body{
    font-family: 'Arvo';
    background-color: #0077B6;
    color: #ffffff;
}

.content{
    padding: 0 10% 0 10%;
}

#modalText{
    color:black;
}
.background{
    background-image: url('./photos/siteBackground.png');
}
/* .background video{
    height:100vh;
    max-width: 100vw;
} */

.videoOverflow{
    overflow: hidden;
    z-index: -100;
}

.videoBackground{
    height:100vh;
    max-width: 100vw;
    object-fit: cover;
    overflow: hidden;
}
.mainContent{
    z-index: 0;
}