body{
    margin: 0;
    font-family:'Arvo',serif;
}

/* Fix z-index issue introduced by react-reveal*/
.react-reveal{
  animation-fill-mode: backwards !important;
}



/* Custom ScrollBar from W3 Schools */

/* width */
::-webkit-scrollbar {
    width: 5px;
    background-color: #0039cb;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 3px black;  */
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: white; 
    border-radius: 5px;
    transition: background-color 0.5s;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: white; 
    transition: background-color 0.5s;
  }